# Virtual environment
venv/

# Python bytecode
__pycache__/
*.py[cod]

# Ignore scripts
server/scripts/

# Environment variable files
.env

# Optionally ignore compiled or log files
# *.pyc
# *.pyo
# *.log
